
/*------------------- General Styling */

div {
    border: 1px solid transparent;
}

/*------------------- Navbar Styling */

.navbar {
    justify-content: left;
    padding: .75rem .75rem;
    background-color: #657486;
    color: white;
}

.navbar-toggler {
    padding: .25rem .25rem;
    height: 3rem;
    width: 3rem;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}

.navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

#brand {
    font-family: 'Cairo', sans-serif;
    font-size: calc(17px + (40 - 17) * ((100vw - 300px) / (1600 - 300)));
}

nav ul {
    list-style-type:none;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    min-width: 38rem;
}

nav ul a {
    color: white;
}

nav ul a:hover {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

nav .row {
    margin-right: 0;
    margin-left: 0;
}

#emailicon {
    font-size: xx-large;
    padding-left: 3rem;
    color: rgba(255,255,255,1)
}

nav div a:hover {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

/* ------------------- Text Section Styling */

#textsection {
    background: url(/assets/images/sky-clouds-cloudy-earth-46160.jpg) no-repeat center; 
        /* credit to https://www.pexels.com/photo/sky-clouds-cloudy-earth-46160/*/
    background-size: cover;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

#textsection p {
    margin: 0;
}

#textsection .row {
    margin-right: 0;
    margin-left: 0;
}

#textsectionmask {
    background-color: rgba(255, 255, 255, .85);
}

/* credit to https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ 
    and https://www.madebymike.com.au/writing/fluid-type-calc-examples/ 
        for font-size: calc(10px + (48 - 10) * ((100vw - 300px) / (1800 - 300)));*/

.textsmall {
    padding: 2vw 8vw;
    font-size: calc(10px + (48 - 10) * ((100vw - 300px) / (1366 - 300)));
    color: #000000;
}

.textmedium {   
    padding: 2vw 10vw;
    font-size: calc(12px + (58 - 12) * ((100vw - 300px) / (1366 - 300)));
    color: #101828;
}

.textlarge {
    padding: 2vw 10vw;
    font-size: calc(14px + (68 - 14) * ((100vw - 300px) / (1366 - 300)));
    font-weight: bold;
    color: #CC613A;
}

#bannerouter {
    justify-content: center;
}

.banner {
    margin-top: .25rem;
    padding: 0;
    font-size: calc(17px + (48 - 17) * ((100vw - 300px) / (1366 - 300)));
    font-weight: bold;
    color: #ffffff;
    min-height: calc(80px + (200 - 80) * ((100vw - 300px) / (1366 - 300)));
    background-color: #CC613A;
}

.align-vertically { /* credit to https://webdevblog.com/css-vertical-align/ */
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-height: 100px;
    max-width: 250px;
    border: 1px solid transparent;
}

#footer {
    min-height: calc(50px + (80 - 50) * ((100vw - 300px) / (1366 - 300)));
    background-color: #101828;
    font-size: calc(10px + (24 - 14) * ((100vw - 300px) / (1366 - 300)));
    color: white;
}

/* ------------------- Media Screen responsiveness */

@media screen and (max-width: 989px) { /*small*/

    #brand {
        font-family: 'Cairo', sans-serif;
        font-size: 5vw;
    }
    
}

@media (min-width: 1200px) {
    .col-xl-4 {
        max-width: 33.2%;
}

@media screen and (min-width: 1200px) { /*extra large*/

    #textsection .row {
        flex-wrap: nowrap;
    }

    .textsmall {
    padding: 2vw 18vw;
        font-size: calc(14px + (24 - 14) * ((100vw - 1200px) / (1800 - 1200)));
    }

    .textmedium {   
        padding: 0 10vw;
        font-size: calc(18px + (36 - 18) * ((100vw - 1200px) / (1800 - 1200)));
    }

    .textlarge {
        font-size: calc(30px + (48 - 30) * ((100vw - 1200px) / (1800 - 1200)));
    }

    .banner {
        font-size: 30px;
    }

}


